@import "tailwindcss";
@import "tailwindcss/utilities";

@layer utilities {
    .font-protest {
        font-family: 'Protest Guerrilla', sans-serif;
    }
    .font-poppins {
        font-family: 'Poppins', sans-serif;
    }

    /* For Chrome, Safari, newer Edge */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* For Firefox */
    .hide-scrollbar {
        scrollbar-width: none;
    }

    /* For IE and older Edge */
    .hide-scrollbar {
        -ms-overflow-style: none;
    }
}